<div class="mt-5 pt-3">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Twitts" %>

<%= form_with url: twitts_path, method: :get do |form| %>
<div class="row">
<div class="col-auto">
    <%= form.text_field :query_text, placeholder: ('usuario o twitt'), value: params[:query_text], class:"form-control" %>
</div>
 <div class="col-2">
    <button class="btn btn-success btn-sm" type="submit">Buscar</button> 
  </div>
</div>
<% end %>

<div id="twitts" class="my-4">
  <% @twitts.each do |twitt| %>
    <%= render twitt %>
    <div class="mb-3">
      <%= link_to "Ver twitt", twitt %>
    </div>
  <% end %>
</div>


<div class="my-5">
<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-link"><%=raw pagy_nav(@pagy) %></li>
</ul>
</div>

</div>