<p style="color: green"><%= notice %></p>

<% content_for :title, "Twitts" %>

<h1>Twitts</h1>

<div id="twitts">
  <% @twitts.each do |twitt| %>
    <%= render twitt %>
    <p>
      <%= link_to "Show this twitt", twitt %>
    </p>
  <% end %>
</div>

<%= link_to "New twitt", new_twitt_path %>

<div>
<%= form_with url: twitts_path, method: :get do |form|%>
    <%= form.text_field :query_text, placeholder: ('Query text'), value: params[:query_text]%>
<% end %>
</div>

<%=raw pagy_nav(@pagy)%>