<div class="my-5 pt-5">
<p style="color: green"><%= notice %></p>

<div class="my-5">
<%= render @twitt %>
</div>

<div>
  <%= link_to "Editar twitt", edit_twitt_path(@twitt), class:"btn btn-primary btn-sm" %> |
  <%= link_to "Volver a todos los twitt", twitts_path, class:"btn btn-success btn-sm" %>

  <%= button_to "Eliminar twitt", @twitt, method: :delete, class:"btn btn-danger btn-sm my-1" %>
</div>
</div>
